@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}

.content {
  max-width: 600px;
  margin: 20px auto;
}

.top {
  /* background-color: #f9e9d4; */
}

/* search bar */
.search {
  width: 100%;
  display: flex;
}
.search .searchTerm{
  width: 100%;
  border: 1px solid #afb2b3;
  border-right: none;
  /* padding: 5px; */
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #afb2b3;
}
.search .searchButton{
  width: 5.2%;
  height: 10%;
  text-align: center;
  color: #000;
  border: 1px solid #afb2b3;
  background: white;
  border-radius: 0 5px 5px 0;
  border-left: none;
  cursor: pointer;
}
.search input {
  background-color: white;
  border: 0;
  font-size: 18px;
  padding: 15px;
  height: 30px;
  width: 205px;
}
.search input:focus {
  outline: none;
}