.closeButton, .closeButton:active, .closeButton:focus {
    background: #dd9f33;
    color: #fff;
    border: 0;
    border-radius: 8px;
    cursor: pointer;
}

.closeButton:hover {
    background: #b58026;
}