/* homepage */
.top {
    align-items: center;
    justify-content: center;
}

.filter {
    display: flex;
    margin-bottom: 10px;
}

.order {
    margin-left: auto;
}

.body {
    margin-top: 10px;
}