/* navbar */
.navbar {
    padding: 15px;
    display: flex;
    align-items: center;
    max-width: 1950px;
    margin: 0 auto;
    height: 90px;
    border-bottom: 1px solid #f2f2f2;
    background-color: #f9e9d4;
}

.name {
    color: #dd9f33;
}

.links {
    margin-left: auto;
}
  
.navbar a {
    text-decoration: none;
    padding: 6px;
}

.button {
    cursor: pointer;
    color: #dd9f33;
}

.button:hover {
    border: 0px;
    background: #e9d7c2;
    border-radius: 50%;
}