/* review previews / list */
.review {
    padding: 10px 16px;
    margin: 20px 0;
    border-bottom: 1px solid #ebc686;
}

.review:hover {
    box-shadow: 1px 1px 1px 1px #dd9f33;
}

.review a {
    text-decoration: none;
}

.title {
    font-size: 20px;
    color: #dd9f33;
}

.author {
    font-size:17px;
    color: #90662e;
    margin-bottom: 10px;
    text-align: left;
}

.reviewText {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 3;
    margin-bottom: 10px;
}
  
.footer{
    display:flex;
}