/* search bar */
.search {
  width: 50%;
  display: flex;
  /* margin: auto */
}

.searchTerm {
  width: 100%;
  height: 24px;
  border: 1px solid #afb2b3;
  border-right: none;
  padding: 10px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #afb2b3;
}

.searchButton {
  padding: 2px;
  text-align: center;
  border: 1px solid #afb2b3;
  background: white;
  border-radius: 0 5px 5px 0;
  border-left: none;
  cursor: pointer;
}
